#content
  .wrapper
    %section#menu
      = render partial: 'menu/menu_item', collection: @menu_items
      
= render 'menu/menu_item_modal'

:javascript
  $(function(){
    Instafood.menu_router = new Instafood.MenuRouter
    Backbone.history.start()
  });
