#content
  .wrapper
    %section#slide
      = image_tag('slid.jpg', class: 'slid')
      = image_tag('float.png', class: 'img-float')
      = link_to 'PEDIR AHORA', menu_path, class: 'btn-wide'
    %section#combos.listado
      = render @menu_items
    %section#recent
      .col2.colored
        %h1.envolved Últimas Órdenes Entregadas
        %ul#eda
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Colinas del Valle
          %li Orden #3430 Sep-17 11:05 hrs. / Bosques de las Lomas
          %li Orden #3430 Sep-17 11:05 hrs. / Vistahermosa
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
          %li Orden #3430 Sep-17 11:05 hrs. / Colinas del Valle
          %li Orden #3430 Sep-17 11:05 hrs. / Bosques de las Lomas
          %li Orden #3430 Sep-17 11:05 hrs. / Vistahermosa
          %li Orden #3430 Sep-17 11:05 hrs. / Zona Centro
      .col2
        %iframe{frameborder: '0', height: '350', marginheight: '0', marginwidth: '0', scrolling: 'no', src: 'http://maps.google.com/maps/ms?msa=0&msid=203142175459903253611.0004cbf43a9c5f91bb4f6&ie=UTF8&t=m&ll=19.251191,-103.719177&spn=0.056722,0.072956&z=13&output=embed', width: '481'}

:javascript
  new Instafood.LandingPageView()
