.modal-header.prod
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3.meal-title {{ this.name }}

.modal-body
  = image_tag('papa.png', :class => 'modal-photo')
  .modal-right#variations
  .modal-right#quantity.hide
    .input-line
      = label_tag(:eda2, 'Cantidad')
      = text_field_tag 'eda2', 1, class: 'input-cant'

.modal-footer
  .costo-cal
    Son $0 + a tu orden
  %a.btn.btn-primary{:href => "#", :class => "btn-anadir disabled"}
