.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h3 {{ this.name }}

.modal-body
  = image_tag('papa.png', :class => 'modal-photo')
  .modal-right#variations

.modal-footer
  %a.btn.btn-primary{:href => "#", :class => "btn-anadir"}
