/* RESET HTML5 **************************/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn,
font, img, ins, kbd, q, s, samp, 
strike, sub, sup, tt, var, dl, dt, 
dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, 
tbody, tfoot, thead, tr, 
th, td, center, u, b, i {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:normal;
  font-style:normal;
  font-size:100%;
  vertical-align:baseline;
  -webkit-font-smoothing: antialiased;}

:focus  {
  outline:0
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
}

blockquote, q {
  quotes:"" "";
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-weight:normal;
  font-style:normal;
  vertical-align:baseline;
}

h1, h2, h3, h4, h5, h6, 
p, i, b, ul, ol, li, 
blockquote, em {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

hr {
  margin:0;
  padding:0;
  border:0;
  color:#000;
  background-color:none;
}

input,
textarea {
  margin:0;
  padding:0
}

table {
  border-collapse:collapse;
  border-spacing:0
}

ol, ul {
  position:relative;
}

.clearer {
  clear:both
}

dt {
  font-weight:bold
}

dd {
  padding-left:15px
}

b {
  font-weight:bold
}

blockquote {
  padding-left:15px;
}

img {
  -ms-interpolation-mode: bicubic;
}

input[type="submit"],
input[type="button"],
label {
  cursor:pointer;
}

.floated-group:after { /* clearfix */
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

*:first-child+html .floated-group { /* IE7 clearfix */
  zoom: 1;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,700,700italic);

body {
  background: url(/assets/bg.gif) repeat;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:14px;
}

.wrapper {
  @extend .floated-group;
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
  position: relative;
}

section {
  margin-bottom:30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:700;
  font-family: 'Open Sans', Arial;
  text-shadow:0 1px 0px rgba(255, 255, 255, 0.4);
}

/* header ****************************************************************/


header {
  background:url(/assets/grad.jpg) top left repeat-x;
  min-height:153px;
  nav {
    height: 45px;
    padding:0;
    overflow:hidden;
    margin:0;
      ul {
        list-style: none;
        padding:0;
        margin:0;
        font-size: 16px;
        text-align: center;
        li {
          display: inline-block;
          overflow: hidden;
          height:45px;
          line-height:45px;
          &.empty {
            width:240px;
          }
          a {
            float: left;
            padding: 0 13px;
            color: #fff;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
            text-align: center;
            font-weight:800;
            text-transform: uppercase;
            &:visited {}
            &:hover {
              color:green;
              text-decoration: none;
              text-shadow: 0px 1px 0px rgba(255, 255, 255, .6);
            }
          }
        }
      }
  }
  h1 {
    position: absolute;
    height:145px;
    width: 256px;
    background: url(/assets/logo.png) repeat;
    top:0;
    left:50%;
    margin-left:-157px;
    a {
      text-indent: -9999px;
      display:block;
      height:100%;
      width: 100%;
    }
  }
}

.status {
  float:right;
  width:246px;
  color:#999;
  text-transform: uppercase;
  text-align:right;
  span {
    padding-left: 24px;
    background: url(/assets/check.gif) no-repeat 0px -1px;
    display:inline-block;
    font-weight:700;
    color:green;
    margin-top: 10px;
  }
}

.badge {
  float:right;
  clear: both;
  width:99px;
  margin-top:3px;
  height:52px;
  background:url(/assets/instafood.png);
  a {
    display: block;
    text-indent:-9999px;
    height: 100%;
    width: 100%;
  }
}

/* home call to action ****************************************************************/

#slide {
  position: relative;
  margin-bottom:55px;
  .slid {
    display: block;
    border: 5px solid #ddd;
    margin: 0 auto;
  }
  .img-float {
    position: absolute;
    bottom: -50px;
    left: 20px;
  }
  .btn-wide {
    position: absolute;
    bottom: -30px;
    right: 59px;
    text-indent:-9999px;
    width:321px;
    display:block;
    height: 80px;
    background:url(/assets/pedir.png);
      &:hover {
      -moz-opacity: 0.9;
      -webkit-opacity: 0.9;
      opacity: 0.9;
    }
  }
}

.listado {
  text-align:left;
  padding-bottom:30px;
}

.col2 {
  width:481px;
  float:left;
  margin-left:15px;
  &.colored {
    background:#eee;
    margin-left:0;
    h1 {
      padding:13px 10px 10px 50px;
      background: url(/assets/clock.png) no-repeat 6px 5px;
      font-weight:400;
      font-size: 20px;
      color:#999;
      text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, .6);
      text-transform: uppercase;
    }
    ul {
      margin:0;
      padding:10px;
      li {
        padding:5px;
        border-bottom: 1px solid #ccc;
        list-style:none;
        padding-left: 31px;
        background: url(/assets/truck.png) no-repeat 3px 1px;
      }
    }
  }
}

.col4 {
  width:231px;
  display:inline-block;
  position:relative;
  margin:5px;
}

.btn-anadir {
  position: absolute;
  bottom: -18px;
  right: 50%;
  margin-right:-92px;
  text-indent:-9999px;
  width:184px;
  display:block;
  height: 49px;
  background:url(/assets/anadir.png);
  &:hover {
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
  }
}

.btn-plus {
  position: absolute;
  bottom: -5px;
  left:0;
  text-indent:-9999px;
  width:57px;
  display:block;
  height: 49px;
  background:url(/assets/plus.png);
  &:hover {
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
  }
}

#recent {
  padding-bottom:50px;
  overflow:hidden;
}

.zoom-img{
  position: absolute;
  top: 160px;
  right: 10px;
}

article.col4 {
  @extend .flaoted-group;
  margin:10px 5px;
  .man-pic {
    width:233px;
    height:198px;
  }
}

.ablock {
  height:196px;
  display:block;
  margin:0;
  position: relative;
}

.costo {
  background: red;
  color:#fff;
  font-family: 'open sans', arial, sans-serif;
  font-size: 16px;
  font-weight:700;
  display:block;
  text-align:center;
  padding-left:49px;
  line-height:39px;
  width:178px;
  float:right;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

nav#menu-nav {
  height: 45px;
  padding:0;
  overflow:hidden;
  margin:0;
  ul {
    list-style: none;
    padding:0;
    margin:0;
    font-size: 15px;
    text-align: center;
    li {
      display: inline-block;
      overflow: hidden;
      line-height:30px;
      &.empty {
        width:240px;
      }
      a {
        float: left;
        border-radius:7px;
        padding: 0 13px;
        color: green;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        font-weight:700;
        text-transform: uppercase;
        &:hover {
          color:#fff;
          text-decoration: none;
          background: #999;
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

h2.envolved {
  padding:13px 10px;
  text-align:center;
  margin-left:5px;
  margin-bottom: 6px;
  margin-top:10px;
  width:945px;
  background: #ccc;
  font-weight:800;
  font-size: 20px;
  color:#999;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, .6);
  text-transform: uppercase;
  clear:both;
}

.modal-footer {
  overflow: hidden;
  a.btn-anadir {
    position:relative;
    margin:0;
    top: auto;
    left: auto;
    right:auto;
    display:inline-block;
    bottom: auto;
    text-indent:-9999px;
  }
}



/**/