- if user_signed_in?
  .cart
    3 items en tu pedido.
    %br
    %span.total TOTAL: $200
    = link_to 'Revisar mi pedido', '#'
  :javascript
    $(function(){
      Instafood.order = new Instafood.Order()
      Instafood.order.fetch()
      Instafood.order_items = new Instafood.OrderItems()
      Instafood.order_items.fetch()
      new Instafood.OrderStatusView({ model: Instafood.order })
    })
