#modal-login.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Accede para hacer tu pedido
  .modal-body
    = link_to image_tag('tw.png', :class => 'btn-tw'), user_omniauth_authorize_path(:twitter)
